<%- include("templates/header") %> 
<div class="container mt-5">
    <% if (!user) { %>
        <!-- If user is not logged in -->
        <div class="alert alert-info d-flex justify-content-center align-items-center" role="alert">
            <a href="/signup" class="btn btn-primary">Sign Up</a> 
            <br>
            <a href="/login" class="btn btn-primary">Log In</a>
        </div>
    <% } else { %>
        <!-- If user is logged in -->
        <h1 class="d-flex justify-content-center align-items-center"> Hello, <%= user %>. <br> Welcome to the Website!</h1>
        <div class="alert alert-success d-flex justify-content-center align-items-center" role="alert">
            <a href="/members" class="btn btn-primary">Members Area</a> 
            <br>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    <% } %>
</div>
<%- include("templates/footer") %> 