<%- include("templates/header") %> 

<h1>Hello, <%= name%>!</h1> <br>

<style>
    .img-thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
    }

    .image-container {
        display: flex; /* Use flexbox */
        flex-wrap: wrap;
    }

    .image-container > div {
        width: 200px;
        margin-bottom: 20px;
    }
</style>

<div class="grid text-center image-container">
    <div class="g-col-6 g-col-md-4">
        <img src="1.jpg" alt="Cat with the Hat" class="img-thumbnail">
    </div>
    <div class="g-col-6 g-col-md-4">
        <img src="2.jpg" alt="Cat with the Bath" class="img-thumbnail">
    </div>
    <div class="g-col-6 g-col-md-4">
        <img src="3.jpg" alt="Cat with the Relax" class="img-thumbnail">
    </div>
</div>

<br>
<form action="/logout" method="GET">
    <button type="submit">Logout</button>
</form>

<%- include("templates/footer") %> 