<%- include("templates/header") %> 
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h3 class="card-title">Successfully Created User</h3>
                    <form action="/members" method="get">
                        <button type="submit" class="btn btn-primary">Members Area</button>
                    </form>
                    <form action="/logout" method="get">
                        <button type="submit" class="btn btn-secondary">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("templates/footer") %> 