Successfully Created User <br>
<form action="/members" method="get">
<button type="submit">Members Area</button>
</form>
<form action="/logout" method="get">
<button type="submit">Logout</button>
</form>